<div class="container">
    <h2 style="border-bottom: solid 5px #000; width: 150px;">マイページ</h2>
    <div class="row">
        <h4><strong>登録情報</strong>
        <%= link_to '編集する', customer_edit_path, class: "btn btn-primary" %>
        <%= link_to 'パスワードを変更する', edit_customer_password_path(@customer), class: "btn btn-primary" %>
        </h4>
    </div>
    <div class="row">
        <table border="1">
            <tr>
                <th width="150" bgcolor="#dcdcdc">氏名</th>
                <td width="500" height="35">
                    <%= @customer.last_name %>
                    <%= @customer.first_name %>
                </td>
            </tr>
            <tr>
                <th width="150" bgcolor="#dcdcdc">カナ</th>
                <td width="500" height="35">
                    <%= @customer.last_name_kana %>
                    <%= @customer.first_name_kana %>
                </td>
            </tr>
            <tr>
                <th width="150" bgcolor="#dcdcdc">郵便番号</th>
                <td width="500" height="35">
                    <%= @customer.post_code %>
                </td>
            </tr>
            <tr>
                <th width="150" bgcolor="#dcdcdc">住所</th>
                <td width="500" height="35">
                    <%= @customer.address %>
                </td>
            </tr>
            <tr>
                <th width="150" bgcolor="#dcdcdc">電話番号</th>
                <td width="500" height="35">
                    <%= @customer.telephone_number %>
                </td>
            </tr>
            <tr>
                <th width="150" bgcolor="#dcdcdc">メールアドレス</th>
                <td width="500" height="35">
                    <%= @customer.email %>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <h4><strong>配送先　</strong>
        <%= link_to '一覧を見る', shipping_addresses_path, class: "btn btn-primary" %>
        </h4>
    </div>
    <div class="row">
        <h4><strong>注文履歴</strong>
        <%= link_to '一覧を見る', orders_path, class: "btn btn-primary" %>
        </h4>
</div>