<div class="container">
 <div class="row">
    <span class="log-in">会員の方はこちらからログイン</span>
 </div>

 <div class="row">
   <div class="col-5">
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <div class="form-group">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
       </div>

       <div class="form-group">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password" %>
       </div>

       <div class="row">
        <%= link_to '=>パスワードを忘れた方はこちら', new_customer_password_path(resource_name) %>
       </div>

       <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
       </div>
     <% end %>
   </div>
 </div>

 <div class="row">
   <span>登録がお済みでない方</span>
 </div>

 <div class="row">
   <%= link_to 'こちらから新規登録を行ってください。', new_customer_registration_path %>
 </div>

</div>
