<div class="container">

    <div class="row">

      <div class="col-xs-7">
       <h2>注文履歴詳細</h2>
        <table border="1">
           <tr>
             <th>注文日</th>
             <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
           </tr>
           <tr>
           	 <th>配送先</th>
           	 <td><%= @order.address %></td>
           </tr>
           <tr>
           	 <th>支払方法</th>
           	 <td><%= @order.payment_method %></td>
           </tr>
           <tr>
           	 <th>ステータス</th>
           	 <td><%= @order.status %></td>
           </tr>
        </table>
      </div>

      <div class="col-xs-5">
       <h2>請求情報</h2>
        <table border="1">
           <tr>
           	 <th>商品合計</th>
           	 <td><%= @order.goukei %></td>
           </tr>
           <tr>
           	 <th>配送料</th>
           	 <td><%= @order.postage %></td>
           </tr>
           <tr>
           	 <th>ご請求額</th>
           	 <td><%= @order.goukei*1.1 %></td>
           </tr>
        </table>
      </div>

    </div>

    <div class="row">
       <h2>注文内容</h2>
       <table border="1">
       	 <thead>
       	  <tr>
       	  	<th>商品</th>
       	  	<th>単価（税込）</th>
       	  	<th>個数</th>
       	  	<th>小計</th>
       	  </tr>
       	 </thead>
       	 <tbody>
       	   <% @order.order_informations.each do |order_information| %>
       	    <tr>
       	      <td><%= order_information.product.name %></td>
       	      <td><%= order_information.price %></td>
       	      <td><%= order_information.count %></td>
       	      <td><%= price_include_tax(order_information.price).to_i * order_information.count %></td>
       	    </tr>
       	   <% end %>
       	 </tbody>
       </table>
    </div>

</div>